<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
<h3>This is  About page of our Website Password Generater, created by Pravesh Singh.</h3>
<h4><a href="{% url 'Home'%}" class="btn btn-primary ">Home</a></h4>
    </div>
</body>
</html>